<div class="nav-bar">
    <div class="nav-bar-content">
        <img class="logo" [routerLink]="['/calendar']" src="./assets/images/global/logo-aimy.png">
        <app-branch-toggler
            class="branch-toggler">
        </app-branch-toggler>
        <app-input-m 
            class="search"
            (inputFilter)="filterByInput($event)"
            [placeholder]="'Zoeken...'">
        </app-input-m>
        <app-day-toggler
            class="day-toggler">
        </app-day-toggler>
        <app-calendar-filters
            class="calendar-filters"
            (filterByStaff)="filterByStaff($event)">
        </app-calendar-filters>
        <app-notifications
            (openChatBar)="openChats($event)"
            class="notifications">
        </app-notifications>
    </div>
</div>

<ng-container *ngIf="showChatBar === true">
    <app-chat-bar
        (closeBar)="closeChats($event)">
    </app-chat-bar>
</ng-container> 
