<div class="chat-container">
    <div class="chat-actions">
        <div class="chat-header">
            <div id="chat-title">Berichten</div>
            <span id="chat-link"><a [routerLink]="'/chats'">Openen in berichten</a></span>
            <img (click)="closeChatBar()" id="chat-close" src="./assets/images/icons/global/close.svg">
        </div>
        <div class="chat-search">
            <app-input-l
                [placeholder]="'Zoek in chats'"></app-input-l>
            <app-button-s 
                class="border"
                [imageSrc]="'./assets/images/icons/chat/contact.svg'">
            </app-button-s>
        </div>
    </div>
    <div class="chats">
        <div class="chat">
            <div class="chat-profile"><img src="./assets/images/persons/placeholder.svg"></div>
            <div class="chat-details">
                <div class="chat-name">Thijs van Meurs</div>
                <div class="chat-message">Voorbeeld van een bericht</div>
            </div>
            <div class="chat-time"></div>
        </div>
    </div>
</div>