button,
input{
    font-family:            'Avenir-Regular';
}

button{
    cursor:                 pointer;
}

.border{
    border:                 solid 2px var(--light-blue);
    border-radius:          6px;
}
.no-border{
    border:                 none!important;
}

// sets a padding to views that are surrounded by navbar and sidebar
.view-padding{
    padding-top:    100px!important;
    padding-left:   56px!important;
}