:root{
    --white : 	        #FFFFFF;
    --white-secondary:  #F2F2F2;
    --gray:             #C7C4C9;
    --dark-gray:        #9C9B9D;
    --light-gray:       #828282;
    --purple:           #23036A;

    --dark:             #333333;
    --black:            #000000;
    --blue:             #66B8DF;
    --light-blue:       #DFEDF6;

    --appointment-red:      #FFE5E8;
    --appointment-orange:   #FFEEE5;
    --appointment-green:    #E5FFFC;
    --appointment-purple:   #F2E7FE;
    --appointment-yellow:   #FFFAE5;
    --appointment-blue:     #E5F5FF;
}