<div class="side-bar">
    <div class="side-bar-content">
        <div class="side-bar-item">
            <div class="side-bar-icon">
                <img class="icon" src="./assets/images/icons/sidebar/svg/menu.svg">
            </div>
        </div>
        <div class="side-bar-item">
            <div class="side-bar-icon">
                <img class="icon" src="./assets/images/icons/sidebar/svg/calendar.svg">
            </div>
        </div>
        <div class="side-bar-item">
            <div class="side-bar-icon">
                <img class="icon" src="./assets/images/icons/sidebar/svg/persons.svg">
            </div>
        </div>
        <div class="side-bar-item">
            <div class="side-bar-icon">
                <img class="icon" src="./assets/images/icons/sidebar/svg/device.svg">
            </div>
        </div>
        <div class="side-bar-item">
            <div class="side-bar-icon">
                <img class="icon" src="./assets/images/icons/sidebar/svg/chart.svg">
            </div>
        </div>
        <div class="side-bar-item">
            <div class="side-bar-icon">
                <img class="icon" src="./assets/images/icons/sidebar/svg/cube.svg">
            </div>
        </div>
        <div class="side-bar-item">
            <div class="side-bar-icon">
                <img class="icon" src="./assets/images/icons/sidebar/svg/person.svg">
            </div>
        </div>
        <div class="side-bar-item">
            <div class="side-bar-icon">
                <img class="icon" src="./assets/images/icons/sidebar/svg/settings.svg">
            </div>
        </div>
        <div class="side-bar-item">
            <div class="side-bar-icon">
                <img class="icon" src="./assets/images/persons/person.png">
            </div>
        </div>
    </div>
</div>